<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lawcloud.lawper.dao.CountryDao">
    <resultMap id="BaseResultMap" type="com.lawcloud.lawper.model.Country">
        <!--
          WARNING - @mbggenerated
        -->
        <id column="Id" jdbcType="INTEGER" property="id"/>
        <result column="country_name" jdbcType="VARCHAR" property="countryName"/>
        <result column="country_code" jdbcType="VARCHAR" property="countryCode"/>
    </resultMap>

    <select id="selectByCountryQueryModel" resultMap="BaseResultMap">
        select id,country_name,country_code from country
        <where>
            <if test="countryName != null and countryName != ''">
                country_name like concat('%',concat(#{countryName}, '%'))
            </if>
            <if test="countryCode != null and countryCode != ''">
                and country_code like concat('%',concat(#{countryCode}, '%'))
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>

    </select>
</mapper>