<beans xmlns="http://www.springframework.org/schema/beans"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:security="http://www.springframework.org/schema/security"
             xmlns:jdbc="http://www.springframework.org/schema/jdbc"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
        http://www.springframework.org/schema/jdbc
	    http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd">


    <security:http pattern="/static/**" security="none"></security:http>
    <security:http pattern="/index.jsp" security="none"></security:http>
    <security:http pattern="/" security="none"></security:http>
    <security:http pattern="/checkcode" security="none"></security:http>
    <security:http entry-point-ref="loginUrlAuthenticationEntryPoint">
        <security:intercept-url pattern="/role/user**" access="ROLE_USER"/>
        <security:intercept-url pattern="/role/admin**" access="ROLE_ADMIN"/>
        <security:intercept-url pattern="/role/manager**" access="ROLE_MANAGER"/>
        <security:custom-filter ref="kdUsernamePasswordAuthenticationFilter" position="FORM_LOGIN_FILTER"/>
        <security:custom-filter ref="logoutFilter" position="LOGOUT_FILTER"/>
        <security:access-denied-handler ref="accessDeniedHandlerImpl"/>
        <security:csrf disabled="true" />
    </security:http>

    <bean id="accessDeniedHandlerImpl" class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
        <property name="errorPage" value="/errorPage.jsp"></property>
    </bean>

    <bean id="loginUrlAuthenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <constructor-arg name="loginFormUrl" value="/index.jsp" />
    </bean>

    <bean id="kdUsernamePasswordAuthenticationFilter" class="com.lawcloud.lawper.security.KdUsernamePasswordAuthenticationFilter">
        <property name="authenticationManager" ref="org.springframework.security.authenticationManager"></property>
        <property name="authenticationSuccessHandler" ref="savedRequestAwareAuthenticationSuccessHandler"></property>
        <property name="authenticationFailureHandler" ref="simpleUrlAuthenticationFailureHandler"></property>
    </bean>

    <bean id="savedRequestAwareAuthenticationSuccessHandler" class="com.lawcloud.lawper.security.KdSavedRequestAwareAuthenticationSuccessHandler">
        <property name="defaultTargetUrl" value="/loginSuccess"></property>
    </bean>

    <bean id="simpleUrlAuthenticationFailureHandler" class="com.lawcloud.lawper.security.KdSimpleUrlAuthenticationFailureHandler">
        <property name="defaultFailureUrl" value="/index.jsp"></property>
    </bean>

    <bean id="logoutFilter" class="org.springframework.security.web.authentication.logout.LogoutFilter">
        <property name="filterProcessesUrl" value="/logout"></property>
        <constructor-arg index="0">
            <bean class="org.springframework.security.web.authentication.logout.SimpleUrlLogoutSuccessHandler">
                <property name="defaultTargetUrl" value="/index.jsp"></property>
            </bean>
        </constructor-arg>
        <constructor-arg index="1">
            <array>
                <bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler"></bean>
            </array>
        </constructor-arg>
    </bean>

    <bean id="org.springframework.security.authenticationManager" name="authenticationManager"
          class="org.springframework.security.authentication.ProviderManager">
        <property name="authenticationEventPublisher" ref="defaultAuthenticationEventPublisher"></property>
        <constructor-arg name="providers">
            <list>
                <ref bean="daoAuthenticationProvider"/>
                <ref bean="anonymousAuthenticationProvider"/>
                <ref bean="kdDaoAuthenticationProvider"/>
            </list>
        </constructor-arg>
    </bean>

    <bean id="defaultAuthenticationEventPublisher" class="org.springframework.security.authentication.DefaultAuthenticationEventPublisher" />

    <bean id="anonymousAuthenticationProvider"  class="org.springframework.security.authentication.AnonymousAuthenticationProvider">
        <constructor-arg name="key" value="work" />
    </bean>

    <bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <property name="userDetailsService" ref="userService"></property>
        <!--  <property name="passwordEncoder" ref="bcrypt"></property> -->
    </bean>

    <bean id="userService" class="org.springframework.security.core.userdetails.jdbc.JdbcDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="kdDaoAuthenticationProvider" class="com.lawcloud.lawper.security.KdDaoAuthenticationProvider">
        <property name="userDetailsService" ref="kdJdbcDaoImpl"></property>
    </bean>

    <bean id="kdJdbcDaoImpl" class="com.lawcloud.lawper.security.KdJdbcDaoImpl">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

</beans>










