<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="own.stu.spring"/>

    <bean id="newsBean" class="own.stu.spring.ioc.beanFactory.model.FXNewsBean" scope="prototype" />

    <bean id="newsBeanFactory" class="org.springframework.beans.factory.config.ObjectFactoryCreatingFactoryBean">
        <property name="targetBeanName">
            <idref bean="newsBean" />
        </property>
    </bean>

    <bean id="mockPersister" class="own.stu.spring.ioc.beanFactory.service.impl.MockNewsPersister">
        <property name="newsBeanFactory" ref="newsBeanFactory" />
        <replaced-method name="persistNews" replacer="providerReplacer"/>
    </bean>

    <bean id="providerReplacer" class="own.stu.spring.ioc.beanFactory.util.FXNewsProviderMethodReplacer" />
</beans>